
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>


    <style>
        ul.gallery{    
          margin-left: 3vw;     
          margin-right:3vw;
          
          }    

        .zoom {      
          -webkit-transition: all 0.35s ease-in-out;    
          -moz-transition: all 0.35s ease-in-out;    
          transition: all 0.35s ease-in-out;     
          cursor: -webkit-zoom-in;      
          cursor: -moz-zoom-in;      
          cursor: zoom-in;
          border-radius: 50%;
          }     

        .zoom:hover,  
        .zoom:active,   
        .zoom:focus {
          /**adjust scale to desired size, 
          add browser prefixes**/
          -ms-transform: scale(2.5);    
          -moz-transform: scale(2.5);  
          -webkit-transform: scale(2.5);  
          -o-transform: scale(2.5);  
          transform: scale(2.5);    
          position:relative;      
          z-index:100;  
          }

          /**To keep upscaled images visible on mobile, 
          increase left & right margins a bit**/  
          @media only screen and (max-width: 768px) {   
          ul.gallery {      
            margin-left: 15vw;       
            margin-right: 15vw;
            
          }

          /**TIP: Easy escape for touch screens,
          give gallery's parent container a cursor: pointer.**/
          .DivName {cursor: pointer}
          }

          li{
            padding: 5%;
          }

          #padd{
            padding: 5%;
            
          }
          .patrocinador{
            float: left;
          }
    </style>


</head>
<body>
    
<h1>Patrocinadores :</h1>
{{#each patrocinador}}

    <div class="patrocinador mt-4">
    
    <ul class="list-inline gallery">

         <img class="img-circle zoom" id="padd" src="/upload/{{imgPt}}"> 

        <figcaption class="figure-caption">guizao come todas</figcaption>

    </div>
   


{{else}}

<h1>Nenhum Patrocinador encontrado</h1>

{{/each}}


</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>


    <style>
      .zoom {
        display: inline-block;
        background-color: green;
        transition: transform .2s; /* Animation */
        width: 100px;
        height: 10px;
        margin: 0 auto;
    }

      .zoom:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }



    

      ul li {
        display: inline-block;
        margin-left: 10%;
    }




        hr {
      margin-left: 6%;
      float: left;

      border-color: rgb(218, 218, 218);
      box-sizing: border-box;
      width: 80%;
    }

  
    </style>


</head>
<body>


<div class="infoPatro">

  <br>
  <img src="/img/patri.png" width="80px" style="float:left">
  <br>
  <h2 style="margin-left: 100px;">Patrocinadores</h2>
  

</div>


<br>
<hr>
</hr>
<br>
<br>
<br>
<br>



<!--  PATROCINADORES   -->
<div>
 <ul>
   {{#each patrocinador}}
     <li>
              <div class="zoom">

      <img src="/upload/{{imgPt}}"  width="130px" >
    {{nome}}

    </div>
    </li>
   
{{else}}


</ul>
<h1>Nenhum Patrocinador encontrado</h1>

{{/each}}

</div>




    

    
    








</body>
</html>