<div class="row row-cols-1 row-cols-md-3">
    {{#if postagens }}
  
    <div class="col mb-4">
    
        <div class="card ">
            
            <img src="/upload/{{postagens.nomeImagem}}"  width="200px" height="300" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{postagens.titulo}}</h5>
                <p class="card-text">{{postagens.conteudo}}.</p>
                   
                     <a href="/postagens/{{postagens._id}}" class="btn btn-primary">Comprar</a>
            </div>



        </div>
     
      
    </div>
 {{else}}
 



 <div>Nenhum Produto para Ser Exibido</div>


    
    {{/if}}
   
 
</div>