<div class="card mb-3">
   <h1>{{postagem._id}}</h1>
    <input type="hidden" name="id" value="{{postagem._id}}">
   <form action="" method="GET">
  <img src="/upload/{{postagem.nomeImagem}}" class="card-img-top" alt="...">
  <div class="card-body">
    <input type="hidden" name="id" value="{postagem._id}}">
    <h5 class="card-title">{{postagem.titulo}}</h5>
    <h4>Preço</h4>
     <h5 class="card-title">{{postagem.preco}}</h5>
    <p class="card-text">{{postagem.descricao}}</p>
    <p class="card-text"><small class="text-muted">{{postagem.data}}</small></p>
  </div>

  <button class="btn btn-success">Comprar</button>



  </form>


<form>
 <input type="text" id="CEP" name="cep"  class="form-control">
 <button class="btn btn-success">Pesquisar</button>



</form>

</div